@import url('https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans');
html,
body {
    background-color: black;
}

#header {
    background-color: rgba(240, 240, 240, 1);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: black;
    z-index: 1;
}

#header > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

#header > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
}

.button {
    font-family: 'Josefin Sans';
    text-align: center;
    font-size: 1.1em;
    color: black;
}

#spacer {
    height: 88px;
}

.content {
    background-color: rgba(240, 240, 240, 1);
    margin-bottom: 5px;
}

#icons {
    display: flex;
    justify-content: space-between;
}

.anchor {
    display: block;
    height: 88px;
    margin-top: -88px;
    visibility: hidden;
}

img {
    max-width: 100%;
        box-shadow: 4px 4px 3px rgb(40, 40, 40);
        margin-top: 20PX;

}

img:hover {
    box-shadow: 0px 0px 10px blue;

    transition: 1s;
}



h1 {
    font-size: 2em;
    font-family: 'Josefin Sans';
    text-shadow: 1px 1px 2px rgb(110, 110, 110);
}

h2 {
    font-size: 1.8em;
    font-family: 'Josefin Sans';
        text-shadow: 1px 1px 2px rgb(110, 110, 110);

}

h3 {
    font-size: 1.5em;
    font-family: 'Josefin Sans';
}

p,
li {
    font-family: 'Dosis', sans-serif;
    font-size: 1.15em;
}
a:link {
    color: darkblue;
}
a:visited {
    color: darkblue;
}
a:hover {
    color: blue;
    text-decoration: none;
}
a:active {
color: red;
}


@media only screen and (max-width: 425px) {
    #header > div:nth-child(1) {
        flex-direction: column;
    }
    #spacer {
        height: 141px;
    }
}